<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Log in</h2>
            <p class="sub-title">Enter your email and password</p>
        </div>
        <div class="col-md-12">
            <label>Email</label>
            <input type="text" placeholder="john@example.com">
        </div>
        <div class="col-md-12">
            <label>Password</label>
            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        </div>
        <div class="col-md-12">
            <button (click)="onLogin()">LOG IN</button>
            <p class="text-reset-password">Forgot your password? <a (click)="onResetPassword()">Reset</a></p>
            <p class="text-sign-up">You don't have an account? <a (click)="onSignUp()">Sign up!</a></p>
        </div>
    </div>
</div>