<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sign in to your account</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <div class="col-md-12">
            <button (click)="onGoogle()">
                <img src="/assets/icons/icon-google.png" alt="">
                Continue with Google
            </button>
            <!-- <button (click)="onFacebook()">
                <img src="/assets/icons/icon-facebook.png" alt="">
                Continue with Facebook
            </button> -->
            <!-- <button (click)="onOutlook()">
                <img src="/assets/icons/icon-outlook.png" alt="">
                Continue with Outlook
            </button> -->
        </div>
    </div>
</div>