<div class="section">
    <div class="container-fluid">
        <div class="row row-body">
            <div class="col-md-3">
                <div class="wrapper-left-panel">
                    <h3 class="title">Account</h3>
                    <ul class="list-left-panel-menu">
                        <li [ngClass]=" { 'is-active': profileClicked } " (click)="onProfile()">My profile</li>
                        <li [ngClass]=" { 'is-active': paymentOptionsClicked } " (click)="onPaymentOptions()">Payment
                            options</li>
                        <li (click)="onBackToHome()">Back to home</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title" *ngIf="profileClicked">My profile</h3>
                        <h3 class="sub-title" *ngIf="paymentOptionsClicked">Payment options</h3>
                        <button class="btn-add-payment" *ngIf="paymentOptionsClicked" (click)="onAddCard()">ADD
                            CARD</button>
                        <div class="wrapper-profile-info">
                            <p *ngIf="me != '' ">{{ me.firstName }} {{ me.lastName }}</p>
                            <img src="/assets/images/logo.png" alt="Legal Hamster Profile Icon" class="icon-profile"
                                mat-button [matMenuTriggerFor]="beforeMenu">
                            <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu">
                                <a mat-menu-item routerLink='/conversions'>My conversions</a>
                                <a mat-menu-item routerLink='/account'>Account</a>
                                <a mat-menu-item (click)="onLogout()">Log out</a>
                            </mat-menu>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="profileClicked">
                    <div class="row">
                        <div class="col-md-12 col-profile-icon">
                            <img class="icon-profile-body" src="/assets/images/logo.png"
                                alt="Legal Hamster profile icon avatar">
                        </div>
                    </div>
                    <div class="row-profile-info">
                        <div class="row">
                            <div class="col-md-6 col-right">
                                <label>First name</label>
                                <p>{{ me.firstName }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>Last name</label>
                                <p>{{ me.lastName }}</p>
                            </div>
                            <div class="col-md-6 col-right">
                                <label>Email</label>
                                <p>{{ me.email }}</p>
                            </div>
                            <div class="col-md-6">
                                <label>Mobile</label>
                                <p>{{ me.mobile }}</p>
                            </div>
                            <div class="col-md-6  col-right">
                                <button (click)="onUpdateProfile()">UPDATE PROFILE</button>
                            </div>
                            <div class="col-md-6">
                                <button (click)="onChangePassword()">CHANGE PASSWORD</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="paymentOptionsClicked">
                    <div class="col-md-12">
                        <table class="table table-payment-options">
                            <thead>
                                <tr>
                                    <th>Card</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let card of cards">
                                    <td>
                                        <img src="/assets/icons/icon-visa.svg" *ngIf="card.scheme == 'VISA' "
                                            alt="Legal Monkey VISA icon">
                                        <img src="/assets/icons/icon-master.svg" *ngIf="card.scheme == 'MASTER' "
                                            alt="Legal Monkey MASTER icon">
                                        <p class="text-card-number">&#9679;&#9679;&#9679;&#9679;
                                            &#9679;&#9679;&#9679;&#9679;
                                            &#9679;&#9679;&#9679;&#9679; {{ card.cardLast }}
                                            <span class="text-default" *ngIf="card.default">Default</span>
                                            <span class="text-default text-set-as-default" *ngIf="!card.default"
                                                (click)="onMakeDefaultCard(card.card)">Set as default</span>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-remove" (click)="onRemoveCard(card.card)">Remove</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>