<app-header></app-header>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="title">Terms & Conditions</p>
            </div>
            <div class="col-md-12 col-body">
                <!-- <p>Welcome to the Honest Greens online store, which is a trademark of Urban Agri Pvt. Ltd. We provide
                    our services to you subject to the following conditions</p> -->

                <p class="sub-title">Introduction</p>
                <p>The following document (hereinafter referred to as the <b>“Terms of Use”,</b> which expression as
                    hereinafter used shall mean and include the contents of this document as well as any and all
                    annexures and linked information thereto, as amended from time to time) contains the terms and
                    conditions under and upon which Users may access and utilize the Legal Hamster Platform (as
                    hereinafter defined).</p>

                <p class="sub-title">Definitions and Interpretation</p>
                <p>All references to the <b>"User"</b>, <b>"You"</b> or <b>"Your"</b> shall mean and refer to the person
                    who accesses or uses the Legal Hamster Platform in any manner, which shall include such person’s
                    successors, principal and permitted assigns:
                </p>
                <p><u>Provided,</u> further, that if you use the Platform for and on behalf of an entity, incorporated
                    or otherwise, you hereby: </p>
                <ul>
                    <li>Represent and warrant to Legal Hamster that (i) you have the authority to bind such entity on
                        the terms and conditions stipulated hereafter; and (ii) that your acceptance of these Terms of
                        Use shall lawfully be deemed to be an acceptance by such entity of these terms and conditions;
                        and</li>
                    <li>Acknowledge that any references to the <b>"User"</b>, <b>"You"</b> or <b>"Your"</b> made
                        hereafter shall include such entity and its personnel, as applicable.</li>
                </ul>
                <p>For the purposes of these Terms of Use:</p>

                <p><b>“Legal Hamster”</b> shall mean Draken Ventures (Pvt) Ltd. (bearing Company Registration No. PV
                    00235117), its successors and assigns.</p>

                <p><b>“Applicable Law(s)”</b> shall mean any law, regulation, ordinance, statute, rule, judgment,
                    decree, order,
                    resolutions, and policy, etc. having binding force passed or decreed by the Government of Sri Lanka
                    or
                    India or any sub-division thereof or other concerned statutory authority.</p>

                <p><b>“Intellectual Property”</b> shall mean and include all patents, copyright, trademarks, tradenames,
                    industrial designs, trade secrets, processes, formulae, compositions, systems, techniques, machines
                    and
                    computer programs – including both source code and object code.</p>

                <p><b>“Personal Data”</b> shall mean and include information that identifies or distinctly relates to a
                    particular
                    natural person.</p>

                <p><b>“Platform”</b> shall mean the online website, applications and facilities offered by Draken
                    Ventures (Pvt)
                    Ltd. under the brand name, “Legal Hamster”.</p>

                <p><b>“Summary”</b> shall mean a summary of textual content obtained through the Platform;</p>

                <p><b>“User Account”</b> shall mean and refer to a User’s dedicated account on the Platform – consisting
                    of, but
                    not limited to, its login credentials, profile and related information.</p>

                <p class="sub-title">1. Overview</p>
                <p>1.1 By using the Platform, creating a User Account or clicking to accept the Terms of Use when
                    offered the option: </p>

                <p>(a) (a) You represent and warrant that you are of legal age and capacity to enter into a legally
                    binding contract with Legal Hamster on the terms and conditions specified herein. If you do not
                    satisfy these requirements, you <b>must not</b> use or access the Platform; and </p>

                <p>(b) You hereby acknowledge and undertake that you have read and understood the entirety of these
                    Terms of Use (including any linked information) and agree to be legally bound by the terms and
                    conditions set out therein.</p>

                <p>1.2 Legal Hamster reserves the absolute right to revise, update and amend its Terms of Use, from time
                    to time, and the Parties acknowledge and agree that such revisions, updates and amendments may be
                    carried out <b>without notice</b> to the User:</p>
                <p> <u>Provided,</u> however, that any such revisions, updates or amendments to the Terms of Use shall
                    only
                    take effect upon the revised, updated or amended version being posted at
                    <a href="https://legalhamster.com/terms-conditions"
                        target="_blank">https://legalhamster.com/terms-conditions</a>. Your use of the Platform after
                    the date of such posting
                    shall constitute your consent to such revisions, updates or amendments. If you do not agree to such
                    changes, you must immediately cease to use or access the Platform.
                </p>
                <p>1.3 The User acknowledges that certain terms and conditions of these Terms of Use are
                    incorporated herein by reference (including by linked information). This includes but is not limited
                    to the Platform’s Data Policy, Limitation of Liability and Disclaimer Policy and Notable Terms
                    Policy.</p>
                <p>1.4 Where a person using the Platform, creating a User Account or clicking to accept the Terms of
                    Use is acting on behalf of a sole proprietorship, partnership or company, such business entity: </p>
                <p>(a) Represents and warrants that it is legally empowered to agree to and has duly authorized both
                    the entering into of these Terms of Use and the performance of any obligations required of it
                    thereunder; and</p>
                <p>(b) Agrees to be legally bound by the terms and conditions set out hereafter.</p>


                <p class="sub-title">2. Creating a User Account</p>
                <p>2.1 All persons or entities wishing to access or use the Platform shall be required to create a User
                    Account.</p>
                <p>2.2 The User represents and warrants that any information (including personal data) provided by it to
                    Legal Hamster or otherwise displayed or made available to Legal Hamster via the Platform is true and
                    accurate. The User also undertakes to update or amend such information as and when it becomes
                    outdated,
                    inaccurate or incomplete.</p>
                <p>2.3 Legal Hamster undertakes that any personal data or information collected from the User shall be
                    utilized in accordance with the Platform’s Data Policy included in Clause 8 below.</p>
                <p>2.4 You shall not share the login credentials to your User Account with any third party and shall be
                    solely and exclusively responsible for keeping such login credentials confidential and secure. Users
                    shall be held responsible for all actions carried out through or utilizing their User Accounts.</p>
                <p>2.5 It shall be the responsibility of the User to immediately notify Legal Hamster of any
                    unauthorized
                    use of its User Account upon becoming aware of it:</p>
                <p><u>Provided</u>, however, that the Parties acknowledge and agree that Legal Hamster shall not be
                    liable for any
                    losses caused to any party by or as a result of an unauthorized use of such User Account.</p>
                <p>2.6 Persons registering User Accounts acknowledge and agree that Legal Hamster retains absolute
                    discretion to refuse to register any person or entity as a User, including on account of a prior
                    suspension of such person or entity from using the Platform.</p>
                <p>2.7 All User Accounts, including any rights and liabilities arising thereunder, are non-transferable
                    except with prior written permission from Legal Hamster.</p>


                <p class="sub-title">3. Use of the Platform</p>

                <p>3.1 Subject to your continued and consistent compliance with the terms and conditions stipulated
                    herein,
                    Legal Hamster grants you a <b>limited, revocable, non-exclusive and non-transferable license</b> to
                    use and
                    operate a User Account on the Platform in strict accordance with these Terms of Use (“License”).</p>
                <p>3.2 <b>Comments, Ratings and Reviews.</b> You shall not take any action that may undermine the
                    integrity,
                    accuracy or efficacy of the Platform’s comments, review or rating systems. All comments, reviews and
                    ratings must be made in strict accordance with the Platform’s Terms of Use and Code of Conduct and
                    the
                    Platform reserves absolute discretion to remove any comments, reviews or ratings that violate these
                    Terms of Use including content which (a) is inappropriate, defamatory or offensive; or (b) is false,
                    deceptive or misleading.</p>
                <p>3.3 The User undertakes that it shall not (a) sublicense, sell, transfer or otherwise assign its
                    License
                    to the Platform in any manner or form; (b) improperly use the Platform – including by creating
                    internet
                    “links” to any part of such Platform, by “framing” or “mirroring” any part of the Platform on any
                    other
                    website or system, or by “scraping” or otherwise improperly obtaining data from the Platform; or (c)
                    create, market or distribute add-ons or enhancements to the Platform without the prior written
                    consent
                    of Legal Hamster.</p>
                <p>3.4 In addition, the User shall not (nor allow or assist another party to) access or use the Platform
                    in
                    order to: (a) reverse engineer or make derivative works based upon the Platform; (b) design or
                    develop a
                    competitive or substantially similar product or service; (c) copy or extract any of the Platform’s
                    features, functionality or content; (d) launch, or cause to be launched on or in connection with the
                    Platform, an automated program or script, including web spiders, crawlers, robots, indexers, bots,
                    viruses, malware or worms or unduly burden or hinder the operation and / or performance of the
                    Platform;
                    or (e) attempt to gain unauthorized access to the Platform’s underlying systems, servers or
                    networks.</p>

                <p class="sub-title">4. Fees and Payment Terms </p>
                <p>4.1. <b>Payment Methods</b>. In order to complete and obtain a Summary via the Platform, all Users
                    will be
                    required to provide the details of a valid and acceptable payment method to a designated third-party
                    payment processing network provider (upon and subject to its independent terms and conditions) for
                    the purposes of enabling Legal Hamster (or a third-party payment network on behalf of Legal Hamster)
                    to collect any Fees due to Legal Hamster under and in terms of the Platform’s <b>Payment Policy</b>.
                    The
                    User unconditionally warrants and represents that it is lawfully empowered and entitled to authorize
                    Legal Hamster and the relevant third-party payment network, as applicable, to charge any such
                    payment method provided. A User shall not (and may not be permitted to) complete and obtain a
                    Summary where Legal Hamster (through the third-party payment network designated) is unable to charge
                    the payment method provided.</p>
                <p>4.2. The User’s authorization to Legal Hamster and the Platform’s corresponding rights thereunder to
                    charge a payment method for any outstanding Fees due to Legal Hamster shall continue (even beyond
                    the cancellation or suspension of a User’s account, whether involuntary or otherwise) until such
                    time as all such Fees are duly settled in full.</p>

                <p class="sub-title">5. Understanding the Platform’s Services</p>
                <p>5.1. When accessing and using the Platform, the User unconditionally acknowledges, understands and
                    agrees:</p>
                <p>(a) That the purpose of any Summary is to simplify and summarize any textual content uploaded to the
                    Platform by the User; </p>
                <p>(b) That the process of simplifying and summarizing such textual content by the Platform is carried
                    out solely and exclusively by an automated artificial intelligence program and not pursuant to any
                    human effort or oversight;</p>
                <p>(c) That the Platform, its underlying artificial intelligence programming and any Summary is provided
                    to Users “as is” and, as such, Legal Hamster makes no express or implied warranty to it’s a User
                    other than those which Applicable Law implies on a mandatory and non-excludable basis to a platform
                    or service provider of this nature;</p>
                <p>(d) That Legal Hamster provides absolutely no undertaking or warranty (i) as to the suitability of
                    the Platform or any Summary for your respective needs or requirements; (ii) that the Platform, its
                    underlying artificial intelligence programming and any Summary will be error-free; or (iii) that the
                    Platform shall be available to Users on an uninterrupted or secure basis;</p>
                <p>(e) That the process of simplifying and summarizing textual content inherently involves altering,
                    excluding and / or modifying such textual content – meaning that the end product, i.e. “Summary” may
                    omit or exclude certain aspects of the original textual content which may or may not be material and
                    / or relevant, whether generally or to you, specifically; and</p>
                <p>(f) That, where the textual content being uploaded to the Platform is a legal document of any kind,
                    (i) that any corresponding Summary provided is not a substitute for obtaining independent and
                    qualified legal advice or review of such document; and (ii) that the Platform is purely a
                    supplementary language summarizing tool.</p>
                <p>5.2. Any User complaints, feedback or questions about or in respect of the Platform or any Summary
                    should be directed to Legal Hamster at support@legalhamster.com. </p>

                <p class="sub-title">6. Undertakings relating to Content</p>
                <p>6.1. Where the User uploads textual content to the Platform for the purposes of obtaining a Summary,
                    such User acknowledges, represents and undertakes that:</p>
                <p>(a) It is lawfully entitled and / or authorized to use, disclose, upload and otherwise deal with such
                    content in the manner required under and in terms of these Terms of Use (including, in particular,
                    to grant Legal Hamster the license contemplated under Clause 6.2 below); and</p>
                <p>(b) That any such use, disclosure, upload or action shall not, in any way or form, constitute a
                    breach or violation of any third-party rights (including Intellectual Property rights or obligations
                    of confidentiality owed to a third party, etc.). </p>
                <p>6.2. By utilizing and uploading textual content to the Platform, the User acknowledges and agrees
                    that it thereby automatically grants Legal Hamster a worldwide, non-exclusive and irrevocable
                    license to access, store and utilize such textual content solely and exclusively for the purposes
                    of:</p>
                <p>(a) Operating the Platform and providing the services made available thereunder; and</p>
                <p>(b) Improving, updating and developing the Platform, its features and services;</p>
                <p>Provided, however, that it is expressly acknowledged and undertaken by Legal Hamster that: (a) it
                    shall, at all times, make best efforts to adhere to industry best practices in Sri Lanka in
                    maintaining the confidentiality of such textual content; and (b) shall not voluntarily share or
                    disclose such textual content with any third-party except where required to do so by Applicable Law.
                </p>
                <p>6.3. The User further represents and warrants to Legal Hamster that it shall not, under any
                    circumstances, utilize the Platform for or upload content to the Platform that is contrary to, or
                    constitutes a violation of, any Applicable Law. </p>


                <p class="sub-title">7. Governing Law and Dispute Resolution</p>

                <p>7.1. These Terms of Use shall be governed by and construed in accordance with the laws of the
                    Democratic Socialist Republic of Sri Lanka.</p>
                <p>7.2. If any doubt, dispute or claim arises from, out of or in connection with these Terms of Use or
                    in the interpretation thereof (hereinafter a “Dispute”), the relevant parties shall endeavor to
                    settle such Dispute amicably through mutual discussions amongst the parties in dispute.</p>
                <p>7.3. In the event the parties are unable to resolve such Dispute through mutual discussion within a
                    period of thirty (30) days, then the User and Legal Hamster agree that such Dispute shall be
                    submitted to the exclusive jurisdiction of the courts of the Democratic Socialist Republic of Sri
                    Lanka situated in Colombo.</p>

                <p class="sub-title">8. Data Policy</p>
                <p>8.1. By making any Personal Data available on or through the Platform, the User hereby grants Legal
                    Hamster a non-exclusive and irrevocable license to access, store and use such Personal Data for the
                    limited purpose(s) of:</p>
                <p>(a) Operating the Platform and providing the Services made available thereunder; </p>
                <p>(b) Improving the Platform and its services; </p>
                <p>(c) Promoting, marketing or advertising the Platform or its services: or</p>
                <p>(d) Complying with any Applicable Law and / or direction given by a state instrumentality.</p>
                <p><u>Provided</u>, however, that Legal Hamster acknowledges and agrees that it has no other rights to
                    the
                    Personal Data made available by Users on or through the Platform.</p>

                <p class="sub-title">9. Miscellaneous</p>
                <p>9.1. <b>Specific Communications.</b> All specific communications from Legal Hamster to a User shall
                    be made either: (a) by electronic mail to the email account saved on record for such User; and / or
                    (b) by post to the physical address saved on record for such User. </p>

                <p>9.2. <b>Contacting Legal Hamster.</b> Any communication or correspondence with Legal Hamster should
                    be directed
                    to support@legalhamster.com.</p>

                <p>9.3. <b>Intellectual Property.</b> Legal Hamster exclusively owns all rights, title and interest in
                    and to
                    the
                    Platform, its data as well as any Intellectual Property rights therein. The Parties acknowledge and
                    agree that these Terms of Use do not, in any manner or form, grant any third party or User rights to
                    or
                    over the Platform, its data or any such Intellectual Property vested therein (except as expressly
                    and
                    specifically contemplated under and in terms of the License, which remains revocable at the sole and
                    absolute discretion of Legal Hamster).</p>

                <p>9.4. <b>Breach of Terms of Use</b>. If Legal Hamster determines in its discretion that a User has
                    breached
                    these Terms of Use, it shall have absolute discretion to adopt or take any of the following
                    measures:
                    (a) Cancel such User’s User Account and immediately terminate its License, with or without prior
                    notice
                    to the User; and
                    (b) Restrict or suspend such User’s User Account and / or License, with or without prior notice to
                    the
                    User.</p>

                <p>9.5. <b>Indemnification</b>. Each and every User hereby acknowledges, undertakes and agrees to
                    indemnify and
                    hold Legal Hamster (including its personnel, directors, officers and representatives) harmless from
                    and
                    against any claims, losses, costs, liabilities, damages, and expenses (including without limitation,
                    reasonable legal fees and the cost of enforcing this indemnification provision) arising out of,
                    resulting from or in any way connected with such User’s breach / violation of the provisions of
                    these
                    Terms of Use.</p>

                <p>9.6. <b>Limitations of Liability and Disclaimers.</b>
                    Each and every User hereby acknowledges that it has fully read and understood the Portal’s
                    <u><b>Limitation of
                            Liability and Disclaimer Policy</b></u> and agrees to the terms and conditions specified
                    therein.
                </p>

                <p>9.7. <b>Severability</b> . In the event that any of the provisions of these Terms of Use are found to
                    be
                    invalid, unlawful or unenforceable, the parties hereto (meaning Legal Hamster and the relevant User)
                    agree: (i) to modify these Terms of Use solely and exclusively as between Legal Hamster and the
                    relevant
                    User so as to give effect to the original intent of such parties as expressed herein as closely as
                    possible to the fullest extent permitted by Applicable Law; or failing which (ii) that such invalid,
                    unlawful or unenforceable terms shall be severable from the remaining terms, which shall continue to
                    be
                    valid and enforceable.</p>

                <p> 9.8. <b>Electronic Signatures</b> . Each and every User acknowledges and agrees to the use of
                    “electronic
                    signatures” as defined and recognized under and in terms of the Electronic Transactions Act, No. 19
                    of
                    2006 when, and for the purposes of, accessing, using and contracting through or with the Platform.
                </p>

                <p class="sub-title">Limitation of Liability and Disclaimer Policys</p>
                <ol>
                    <li>NEITHER LEGAL HAMSTER NOR ANY OF ITS REPRESENTATIVES OR EMPLOYEES SHALL BE LIABLE (WHETHER
                        BASED ON CONTRACT, TORT, PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY) FOR: (A) ANY INCIDENTAL,
                        SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS OR LOSS OF GOODWILL INCURRED
                        BY A USER THROUGH OR RESULTING FROM THE USE OF THE PLATFORM OR ITS SERVICES; (B) ANY SERVICE
                        INTERRUPTION, LOSS OF DATA, COMPUTER DAMAGE OR SYSTEM FAILURE; (C) THE COST OF SUBSTITUTE
                        PRODUCTS OR SERVICES; OR (D) THE USE OF OR INABILITY TO USE THE PLATFORM OR ITS SERVICES</li>
                    <li>WITHOUT PREJUDICE TO THE ABOVE LIMITATION(S), IN NO EVENT SHALL THE TOTAL, AGGREGATE
                        LIABILITY OF LEGAL HAMSTER, ITS PERSONNEL, REPRESENTATIVES AND AGENTS TO A USER (OR PERSON
                        CLAIMING THROUGH A USER), ARISING FROM OR RELATING TO THESE TERMS OF USE, THE PLATFORM AND / OR
                        ITS SERVICES, OR FROM THE USE OF OR INABILITY TO USE THE ABOVE, EXCEED THE TOTAL AMOUNT OF FEES
                        ACTUALLY PAID BY THE USER TO LEGAL HAMSTER DURING THE PRECEDING THREE (03) MONTH PERIOD</li>
                    <li>A PARTY’S USE OF THE PLATFORM SHALL BE SOLELY AND EXCLUSIVELY AT ITS OWN RISK</li>
                </ol>

                <p class="sub-title">PAYMENT POLICY</p>
                <p><b>Fees</b></p>
                <ul>
                    <li>Where the User requests a Summary, the Platform will offer and provide such User with the
                        applicable fee / charge due to Legal Hamster for such Summary based upon the Platform’s
                        prevailing rates and charges (referred to in these Terms of Use as the Platform’s “Fee(s)”).
                    </li>
                    <li>Note that Legal Hamster reserves the right to change its pricing from time to time – provided,
                        however, that any such changes will always be prospective and never retroactive. Where the User
                        does
                        not agree to the Fee provided, such User may decline to proceed with its request for the
                        relevant
                        Summary.</li>
                    <li>Where the User agrees to the Fee provided and proceeds with its request for the relevant
                        Summary,
                        such User acknowledges and agrees that Legal Hamster shall thereafter charge and levy the
                        aforementioned Fee (including all applicable charges and taxes, if any) in accordance with
                        Clause 4
                        of the Platform’s Terms of Use.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>