<app-header></app-header>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="title">Terms & Conditions</p>
            </div>
            <div class="col-md-12 col-body">
                <p>Welcome to the Honest Greens online store, which is a trademark of Urban Agri Pvt. Ltd. We provide
                    our services to you subject to the following conditions</p>

                <p class="sub-title">SHIPPING AND RETURNS</p>
                <p>It's always our goal to make your ordering process as efficient as possible. Learn all about our
                    shipping policies and procedures below</p>

                <p class="sub-title">SHIPPING METHODS AND RATES</p>
                <p>We have a fixed delivery rate for Colombo and the surrounding suburbs. <br>
                    Our orders are shipped and delivered on business days (Monday through Friday, excluding major
                    holidays). We kindly ask that you anticipate 2-3 business days for standard delivery in Sri Lanka.
                </p>

                <p class="sub-title">ORDER STATUS</p>
                <p>We process orders Monday through Friday in the order in which they are received. Orders placed after
                    3:00PM on Friday will not be processed until the next business day. <br>
                    If you want to check the status of your order, please login to the user account section. If this
                    information is not satisfactory you may contact your customer service agent to clarify further. If
                    you have questions about your order, please call us at +94117024251 or email us at
                    sales@urbanagri.co </p>

                <p class="sub-title">CHANGE SUBMITTED ORDERS</p>
                <p>If you need to change an order you have already placed, please contact your customer service
                    representative. They will advise you on the possibility of making alterations on existing orders. If
                    you have questions about your order, please call us at +94117024251 or email us at
                    sales@urbanagri.co</p>

                <p class="sub-title">REPORT ORDER PROBLEM</p>
                <p>If your order is missing a product, contains a damaged item, or other concern, please contact your
                    customer service representative. To expedite your request, please have your order details available.
                    We will always do our best to accommodate your concern as efficiently as possible. If you have
                    questions about your order, please call us at +94117024251 or email us at sales@urbanagri.co</p>

                <p class="sub-title">RETURNS AND EXCHANGES</p>
                <p>Should you ever buy anything from us that is rotten or isn’t in good condition, please send us an
                    image within 5 days of your delivery. We shall the damaged goods for fresh products on the next
                    available delivery date. There shall be no refunds for orders. <br>
                    We only exchange products purchased on our website. Any products purchased from a third-party
                    outlet, exchange would depend on their terms and conditions.</p>

                <p class="sub-title">ELECTRONIC COMMUNICATIONS</p>
                <p>When you visit Honest Greens or send e-mails to us, you are communicating with us electronically. You
                    consent to receive communications from us electronically. We will communicate with you by e-mail,
                    notices on our website or by phone. You agree that all agreements, notices, disclosures and other
                    communications that we provide to you electronically satisfy any legal requirement that such
                    communications be in writing.</p>

                <p class="sub-title">COPYRIGHT</p>
                <p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips,
                    digital downloads, data compilations, and software, is the property of Urban Agri (Pvt.) Ltd or its
                    content suppliers and protected by international copyright laws. The compilation of all content on
                    this site is the exclusive property of, with copyright authorship for this collection by Urban Agri
                    (Pvt.) Ltd, and protected by international copyright laws.</p>

                <p class="sub-title">TRADE MARKS</p>
                <p>Urban Agri (Pvt.) Ltd.’s trademarks and trade dress may not be used in connection with any product or
                    service that is not Urban Agri (Pvt.) Ltd.’s, in any manner that is likely to cause confusion among
                    customers, or in any manner that disparages or discredits Urban Agri (Pvt.) Ltd. All other
                    trademarks not owned by Urban Agri (Pvt.) Ltd or its subsidiaries that appear on this site are the
                    property of their respective owners, who may or may not be affiliated with, connected to, or
                    sponsored by Urban Agri (Pvt.) Ltd or its subsidiaries.</p>

                <p class="sub-title">LICENSE AND SITE ACCESS</p>
                <p>Urban Agri (Pvt.) Ltd. grants you a limited license to access and make personal use of this site and
                    not to download (other than page caching) or modify it, or any portion of it, except with express
                    written consent of Urban Agri (Pvt.) Ltd. This license does not include any resale or commercial use
                    of this site or its contents: any collection and use of any product listings, descriptions, or
                    prices: any derivative use of this site or its contents: any downloading or copying of account
                    information for the benefit of another merchant: or any use of data mining, robots, or similar data
                    gathering and extraction tools. This site or any portion of this site may not be reproduced,
                    duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without
                    express written consent of Urban Agri (Pvt.) Ltd. You may not frame or utilize framing techniques to
                    enclose any trademark, logo, or other proprietary information (including images, text, page layout,
                    or form) of Urban Agri (Pvt.) Ltd. and our associates without express written consent. You may not
                    use any meta tags or any other "hidden text" utilizing Urban Agri (Pvt.) Ltd.’s name or trademarks
                    without the express written consent of Urban Agri (Pvt.) Ltd. Any unauthorized use terminates the
                    permission or license granted by Urban Agri (Pvt.) Ltd. You are granted a limited, revocable, and
                    nonexclusive right to create a hyperlink to the home page of Honest Greens so long as the link does
                    not portray Urban Agri (Pvt.) Ltd., its associates, or their products or services in a false,
                    misleading, derogatory, or otherwise offensive matter. You may not use any Urban Agri (Pvt.) Ltd.
                    logo or other proprietary graphic or trademark as part of the link without express written
                    permission.</p>

                <p class="sub-title">YOUR MEMBERSHIP ACCOUNT</p>
                <p>If you use this site, you are responsible for maintaining the confidentiality of your account and
                    password and for restricting access to your computer, and you agree to accept responsibility for all
                    activities that occur under your account or password. If you are under 18, you may use our website
                    only with involvement of a parent or guardian. Urban Agri (Pvt.) Ltd. and its associates reserve the
                    right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole
                    discretion.</p>

                <p class="sub-title">REVIEWS, COMMENTS, EMAILS AND OTHER CONTENT</p>
                <p>Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments,
                    questions, or other information, so long as the content is not illegal, obscene, threatening,
                    defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious
                    to third parties or objectionable and does not consist of or contain software viruses, political
                    campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may
                    not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the
                    origin of a card or other content. Urban Agri (Pvt.) Ltd. reserves the right (but not the
                    obligation) to remove or edit such content, but does not regularly review posted content. If you do
                    post content or submit material, and unless we indicate otherwise, you grant Urban Agri (Pvt.) Ltd.
                    and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable
                    right to use, reproduce, modify, adapt, publish, translate, create derivative works from,
                    distribute, and display such content throughout the world in any media. You grant Urban Agri (Pvt.)
                    Ltd. and its associates and sub-licensees the right to use the name that you submit in connection
                    with such content, if they choose. You represent and warrant that you own or otherwise control all
                    of the rights to the content that you post: that the content is accurate: that use of the content
                    you supply does not violate this policy and will not cause injury to any person or entity: and that
                    you will indemnify Urban Agri (Pvt.) Ltd. or its associates for all claims resulting from content
                    you supply. Urban Agri (Pvt.) Ltd. has the right but not the obligation to monitor and edit or
                    remove any activity or content. Urban Agri (Pvt.) Ltd. takes no responsibility and assumes no
                    liability for any content posted by you or any third party.</p>

                <p class="sub-title">PRODUCT DESCRIPTIONS</p>
                <p>Urban Agri (Pvt.) Ltd. and its associates attempt to be as accurate as possible. However, Urban Agri
                    (Pvt.) Ltd. does not warrant that product descriptions or other content of this site is accurate,
                    complete, reliable, current, or error-free. If a product offered by Urban Agri (Pvt.) Ltd. itself is
                    not as described, your sole remedy is to contact your customer service agent in order to arrange an
                    exchange. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY THIS SITE IS PROVIDED BY URBAN AGRI
                    (PVT.) LTD. ON AN "AS IS" AND "AS AVAILABLE" BASIS. URBAN AGRI (PVT.) LTD MAKES NO REPRESENTATIONS
                    OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION,
                    CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS
                    SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, URBAN AGRI (PVT.) LTD
                    DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
                    MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. URBAN AGRI (PVT.) LTD DOES NOT WARRANT THAT
                    THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM MOOSE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
                    URBAN AGRI (PVT.) LTD WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS
                    SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL
                    DAMAGES. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR
                    LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS,
                    EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

                <p class="sub-title">APPLICABLE LAW</p>
                <p>By visiting Urban Agri (Pvt.) Ltd, you agree that the laws of the Democratic Socialist Republic of
                    Sri Lanka, without regard to principles of conflict of laws, will govern these conditions of Use and
                    any dispute of any sort that might arise between you and Urban Agri (Pvt.) Ltd or its associates.
                </p>

                <p class="sub-title">DISPUTES</p>
                <p>Any dispute relating in any way to your visit to Urban Agri (Pvt.) Ltd or to products you purchase
                    through Urban Agri (Pvt.) Ltd shall be submitted to confidential arbitration in Democratic Socialist
                    Republic of Sri Lanka except that, to the extent you have in any manner violated or threatened to
                    violate Urban Agri (Pvt.) Ltd’s intellectual property rights, Urban Agri (Pvt.) Ltd may seek
                    injunctive or other appropriate relief in any state or federal court in the state of Democratic
                    Socialist Republic of Sri Lanka and you consent to exclusive jurisdiction and venue in such courts.
                    Arbitration under this agreement shall be conducted under the rules then prevailing of the Sri Lanka
                    National Arbitration Centre. The arbitrator’s award shall be binding and may be entered as a
                    judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law,
                    no arbitration under this Agreement shall be joined to an arbitration involving any other party
                    subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>

                <p class="sub-title">SITE POLICES, MODIFICATION, AND SEVERABILITY</p>
                <p>Please review our other policies, such as our Shipping and Returns policy, posted on this site. These
                    policies also govern your visit to Honest Greens. We reserve the right to make changes to our site,
                    policies, and these Conditions of Use at any time. If any of these conditions shall be deemed
                    invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall
                    not affect the validity and enforceability of any remaining condition.</p>

                <p class="sub-title">QUESTIONS:</p>
                <p>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material could
                    be directed to our email address at: <b>sales@urbanagri.co</b></p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>