@import './../../../../custom-theme.scss';

h2 {
    font-weight: 600;
    display: inline-block;
    width: 95%;
}

.btn-close {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
}

.btn-close:hover {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
    cursor: pointer;
    color: $color-primary;
}

.sub-title {
    margin-bottom: 40px;
}

label {
    display: block;
}

input {
    width: 100%;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button {
    background: $color-primary;
    border: 2px solid $color-primary;
    padding: 10px 40px;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.text-reset-password, .text-sign-up {
    text-align: center;
}

.text-reset-password a, .text-sign-up a {
    color: #2129fa;
    text-decoration: none;
}

.text-reset-password a:hover, .text-sign-up a:hover {
    color: #226294;
    cursor: pointer;
}

.invalid-input {
    border: 2px solid red;
}

mat-spinner {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;
}

::ng-deep .spinner-simplify circle, .spinner-simplify circle {
    stroke: #fff;
}

.form-group {
    margin-bottom: 0;
}

.form-group input {
    height: 100%;
}

.txt-condition {
    font-style: italic;
}