<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add new card</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <div class="col-md-12">
            <label>Name</label>
            <input type="text" placeholder="John Watson">
        </div>
        <div class="col-md-12">
            <label>Card number</label>
            <input type="text" placeholder="1234 5678 1112 1314">
        </div>
        <div class="col-md-6">
            <label>Expiry month</label>
            <input type="text" placeholder="MM">
        </div>
        <div class="col-md-6">
            <label>Expiry year</label>
            <input type="text" placeholder="YY">
        </div>
        <div class="col-md-12">
            <button>ADD CARD</button>
        </div>
    </div>
</div>