.section {
    background-color: #2129fa;
    color: #fff;
}

.row {
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.logo {
    width: 60%;
}

.logo:hover {
    cursor: pointer;
}

ul {
    padding: 0;
    float: right;
    margin: 0;
    margin-top: 15px;
}

ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

ul li p {
    margin-bottom: 0;
}

a {
    color: #000;
}

button {
    background: #fff;
    border: 2px solid #2129fa;
    padding: 5px 40px;
    color: #2129fa;
    border-radius: 50px;
}

button:hover {
    background: #fff;
    border: 2px solid #2129fa;
    padding: 5px 40px;
    color: #2129fa;
    border-radius: 50px;
}

.mat-menu-item {
    height: auto;
}

a.mat-menu-item {
    background: #fff;
    padding: 0px 20px;
    color: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

a.mat-menu-item:hover {
    background: rgb(245, 245, 245);
    padding: 0px 20px;
    color: #2129fa;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.icon-profile {
    width: 25px;
}

::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

::ng-deep .mat-menu-panel {
    position: relative;
    top: 5px;
    right: 20px;
}

.txt-me {
    display: inline-block;
    margin-right: 10px;
}