<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <img src="/assets/images/logo.png" class="img-logo" alt="Legal Hamsster Logo" (click)="onHome()">
            </div>
            <div class="col-6 col-md-8">
                <ul>
                    <li *ngIf="!isAuthenticated">
                        <button (click)="onSignin()" class="btn-auth">SIGN IN</button>
                    </li>
                    <li *ngIf="isAuthenticated">
                        <p class="txt-me">{{ me.firstName }} {{ me.lastName }}</p>
                        <img src="/assets/icons/icon-menu-white.svg" alt="Menu Icon" class="icon-profile" mat-button
                            [matMenuTriggerFor]="beforeMenu">
                        <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu">
                            <a mat-menu-item routerLink='/extracts'>My Extracts</a>
                            <!-- <a mat-menu-item routerLink='/account'>Account</a> -->
                            <a mat-menu-item (click)="onLogout()">Log out</a>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>