<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>LEGAL MONKEY</h3>
        </div>
        <div class="col-md-8">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ACCOUNT</a></li>
                <li><a href="#">PRICING</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li *ngIf="!isAuthenticated">
                    <button (click)="onLogin()">LOG IN</button>
                </li>
                <li *ngIf="isAuthenticated">
                    <img src="/assets/icons/icon-user-profile.svg" alt="Legal Monkey Profile Icon" class="icon-profile"
                        mat-button [matMenuTriggerFor]="beforeMenu">
                    <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu">
                        <a mat-menu-item routerLink='/conversions'>My conversions</a>
                        <a mat-menu-item routerLink='/account'>Account</a>
                        <a mat-menu-item (click)="onLogout()">Log out</a>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</div>