.row {
    padding: 30px 0;
}

h1 {
    margin: 0;
}

.title {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

.logo {
    width: 50px;
}

ul {
    padding: 0;
    float: right;
}

ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 15px 0;
}

a {
    color: #000;
}

button {
    background: #2e86de;
    border: 2px solid #2e86de;
    padding: 5px 40px;
    color: #fff;
    border-radius: 50px;
}

button:hover {
    background: #fff;
    border: 2px solid #2e86de;
    padding: 5px 40px;
    color: #2e86de;
    border-radius: 50px;
}

.mat-menu-item {
    height: auto;
}

a.mat-menu-item {
    background: #fff;
    padding: 0px 20px;
    color: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

a.mat-menu-item:hover {
    background: rgb(245, 245, 245);
    padding: 0px 20px;
    color: #2e86de;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.icon-profile {
    width: 35px;
}

::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}