<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>LEGAL MONKEY</h3>
        </div>
        <div class="col-md-8">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ACCOUNT</a></li>
                <li><a href="#">PRICING</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li *ngIf="!isAuthenticated">
                    <button (click)="onLogin()">LOG IN</button>
                </li>
            </ul>
        </div>
    </div>
</div>