<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Verify account</h2>
            <span class="btn-close" (click)="onClose()">X</span>
            <p class="sub-title">Enter the verification code sent to your email</p>
        </div>
        <div class="col-md-12">
            <!-- <label>Verification code</label> -->
            <input type="text" placeholder="123456" [disabled]="isLoading" [(ngModel)]="verificationCode">
        </div>
        <div class="col-md-12">
            <button (click)="onVerify()">
                <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                VERIFY
            </button>
            <a class="link-resend-verification" (click)="onResendVerificationCode()">Resend Verification Code</a>
        </div>
    </div>
</div>