h2 {
    font-weight: 600;
    display: inline-block;
}

.btn-close {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
}

.btn-close:hover {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
    cursor: pointer;
    color: #2129fa;
}

.sub-title {
    margin-bottom: 40px;
}

label {
    display: block;
}

input {
    width: 100%;
    border: 2px solid #2f86de;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button {
    background: #2129fa;
    border: 2px solid #2129fa;
    padding: 10px 40px;
    color: #fff;
    border-radius: 50px;
    width: 100%;
}

.text-price {
    font-weight: 600;
    color: #2129fa;
}

mat-spinner {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;
}

.spinner-loader {
    position: inherit !important;
    left: auto !important;
    top: auto !important;
}

::ng-deep .spinner-simplify circle, .spinner-simplify circle {
    stroke: #fff;
}

::ng-deep .spinner-loader circle, .spinner-loader circle {
    stroke: #2129fa;
}

.col-loader {
    text-align: center;
    padding: 30px 0;
}