<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Reset password</h2>
            <span class="btn-close" (click)="onClose()">X</span>
            <p class="sub-title">Enter the following details</p>
        </div>
        <div class="col-md-12">
            <label>Verification code</label>
            <input type="text" placeholder="1234" [disabled]="isLoading"
                [ngClass]="{ 'invalid-input': !validation.verificationCode }" [(ngModel)]="data.verificationCode">
        </div>
        <div class="col-md-12">
            <label>New password</label>
            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                [disabled]="isLoading" [ngClass]="{ 'invalid-input': !validation.password }"
                [(ngModel)]="data.password">
        </div>
        <div class="col-md-12">
            <label>Confirm password</label>
            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                [disabled]="isLoading" [ngClass]="{ 'invalid-input': !validation.confirmPassword }"
                [(ngModel)]="data.confirmPassword">
        </div>
        <div class="col-md-12">
            <button (click)="onResetPassword()">
                <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                RESET PASSWORD
            </button>
            <p class="text-remember-password">Remember your password? <a (click)="onLogin()">Login</a></p>
        </div>
    </div>
</div>