<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="title">NAME THE DOCUMENT</h4>
        </div>
        <div class="col-md-12">
            <input type="text" placeholder="Eg: Shareholders Agreement" [disabled]="isLoading" [(ngModel)]="title"
                [ngClass]="{ 'invalid-input': !isTitleValid }">
        </div>
        <div class="col-md-12">
            <button (click)="onUpload()">
                <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                UPLOAD
            </button>
        </div>
    </div>
</div>