.wrapper-editor {
    margin-bottom: 30px;
}

.editor {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 24px 24px -18px rgba(69,104,129,.33), 0 9px 45px 0 rgba(114,119,160,.12);
    padding: 50px;
}

.editor:focus {
    outline: 0;
}

.btn-simplify {
    background: #2129fa;
    border: 2px solid #2129fa;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
    float: right;
    position: fixed;
    bottom: 10px;
    transform: translate(811%, -66%);
}

.btn-simplify-is-loading {
    background: #2129fa;
    border: 2px solid #2129fa;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
    float: right;
    position: fixed;
    bottom: 10px;
    transform: translate(666%, -66%);
}

.editor-loading {
    background-color: #f3f3f3;
    color: #8e8e8e;
}

mat-spinner {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;
}

::ng-deep .spinner-simplify circle, .spinner-simplify circle {
    stroke: #fff;
}

.icon-simplify {
    width: 20px;
}

.btn-feedback {
    background: #2129fa;
    border: 2px solid #2129fa;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
    float: right;
    position: fixed;
    bottom: 10px;
    transform: translate(635%, -66%);
}