<app-header></app-header>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Hightlight what you don't understand, mark it and click on the Simplify button</h4>
                <div class="wrapper-editor">
                    <div class="editor" #editor [innerHTML]="extraction.text"
                        [ngClass]="{ 'editor-loading': isLoading}">
                    </div>
                    <button class="btn-simplify" type="button" (click)="onSimplify()" *ngIf="!isLoading">
                        SIMPLY
                    </button>


                    <button class="btn-feedback" (click)="onReview()" *ngIf="feedbackButtonVisible">SIMPLY</button>

                    <button class="btn-simplify-is-loading" type="button" (click)="onSimplify()" *ngIf="isLoading">
                        <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                        SIMPLY
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>