<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <h1>Why use Legal Hamster?</h1>
                    <p>We know hiring a lawyer to check every document isn't practical or cheap. But, do you know what
                        that fine print says? You should, for your own safety</p>
                    <p>Know what you sign up for. Having the truth is now a choice. It's your choice.</p>
                </div>
            </div>
        </div>
    </div>
</div>