<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <h1>Who is Legal Hamster for?</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper-icon">
                    <img src="/assets/icons/icon-startup.svg" alt="Legal Hamster Start up Icon">
                    <p>Startups</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper-icon">
                    <img src="/assets/icons/icon-enterpreneur.svg" alt="Legal Hamster Entrepreneurs Icon">
                    <p>Entrepreneurs</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper-icon">
                    <img src="/assets/icons/icon-freelancer.svg" alt="Legal Hamster Freelancer Icon">
                    <p>Freelancers</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrapper-icon">
                    <img src="/assets/icons/icon-license.svg" alt="Legal Hamster License Icon">
                    <p>License Users</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="wrapper">
                    <p>If you need to verify a complicated clause very quickly, then Legal Hamster is for you. No matter
                        what it's about, our AI will decipher it for you.</p>
                    <p>It's the fastest way to get the information you need - just like a search engine</p>
                </div>
            </div>
        </div>
    </div>
</div>