h4 {
    font-weight: 600;
    display: inline-block;
}

.btn-close {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
}

.btn-close:hover {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
    cursor: pointer;
    color: #2129fa;
}

.title {
    margin-bottom: 10px;
}

.input {
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.output {
    margin-bottom: 15px;
    color: #226294;
    font-weight: 500;
    display: block;
}


.date, .cost {
    display: inline-block;
}

.date span, .cost span {
    font-weight: 600;
}

.cost {
    float: right;
}

.txt-suggestion {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2129FA;
}