<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/images/logo.png" alt="Legal Monkey logo" class="logo">
                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitsit amet consectetur.</p> -->
            </div>
            <div class="col-md-3">
                <p class="title">Company</p>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="title">Support</p>
                <ul>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="title">Community</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>