footer {
    padding: 15px 0;
    /* background-color: #fbfbfb; */
    background-color: #2129fa;
}

.col-md-12 {
    text-align: center;
}

.title {
    font-weight: 600;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    float: left;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    /* color: #717171; */
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.logo {
    width: 170px;
    margin-bottom: 20px;
}

.copy {
    margin: 0;
    font-size: 13px;
    color: #fff;
    display: inline-block;
}

.email {
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    float: right;
}

.email span {
    font-size: 13px;
    font-weight: 500;
}
