<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a routerLink="terms-conditions">Terms of service</a></li>
                    <li><a routerLink="privacy-policy">Privacy policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="copy">&copy; Draken Ventures Pvt Ltd</p>
                <div class="contact">
                    <ul>
                        <li><b>Mobile: </b>+94727600759</li>
                        <li><b>Email:</b> support@legalhamster.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>