<app-header></app-header>

<div class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper-hero">
                    <h1>How to use Legal Hamster:</h1>
                    <ol>
                        <li>Hightlight one paragraph</li>
                        <li>Click the brush icon</li>
                        <li>Click "Translate"</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="txt-suggestion">SUGGESTED FOR: Non-Disclosure Agreement (NDA), Independent Contractor
                    Agreement, Business Contract, Employment Contract, Shareholder Agreement Etc.</p>
            </div>
            <div class="col-md-12">
                <div class="wrapper-top">
                    <p class="title">Your original legal document</p>
                    <button class="btn-auth" (click)="onHighlight()">Highlight</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper-input" (click)="onSelect(input._id, input.valid)" *ngFor="let input of inputs"
                    [ngClass]=" { 
                        'invalid': input.valid == false,
                        'selected': input.selected == true,
                        'highlight': input.highlight == true
                    } " [innerHTML]="input.input">
                </div>
                <button class="btn-auth" (click)="onGoBack()">Go back</button>
            </div>
            <div class="col-md-6">
                <div class="wrapper-disclaimer">
                    <p class="title">Translation</p>
                    <p class="sub-title">Disclaimer: The following translation(s) does not constitute any form of
                        legal advise. The following translation is meant only help users understand what is written
                        so that they can address issues as they deem fit; on their own or by retaining a licensed
                        lawyer.
                    </p>
                </div>
                <div class="wrapper-output">
                    <div class="wrapper-response" *ngIf="!receivedOutput">
                        <p>Translation appears here</p>
                    </div>
                    <div class="wrapper-response" *ngIf="receivedOutput">
                        <p *ngFor="let output of outputs">{{ output }}</p>
                    </div>
                </div>
                <button class="btn-auth" (click)="onDownload()">Download PDF</button>
            </div>
        </div>
    </div>
</div>