<app-header></app-header>

<div class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper-hero">
                    <h1>How to use Legal Hamster:</h1>
                    <ol>
                        <li>Hightlight one paragraph</li>
                        <li>Click the brush icon</li>
                        <li>Click "Translate"</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="txt-suggestion">SUGGESTED FOR: Non-Disclosure Agreement (NDA), Independent Contractor
                    Agreement, Business Contract, Employment Contract, Shareholder Agreement Etc.</p>
            </div>
            <div class="col-md-6">
                <div class="wrapper-top">
                    <p class="title">Your original legal document</p>
                </div>
                <div class="wrapper-input" [ngClass]="{ 'selected': selected }" (click)="onSelect()">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ab harum nulla,
                        atque accusamus nisi repellendus id, beatae labore sapiente pariatur ratione enim at quis,
                        rerum odio quibusdam quae. Harum?</p>
                </div>
                <button class="btn-auth" (click)="onGoBack()">Go back</button>
            </div>
            <div class="col-md-6">
                <div class="wrapper-disclaimer">
                    <p class="title">Translation</p>
                    <p class="sub-title">Disclaimer: The following translation(s) does not constitute any form of
                        legal advise. The following translation is meant only help users understand what is written
                        so that they can address issues as they deem fit; on their own or by retaining a licensed
                        lawyer.
                    </p>
                </div>
                <div class="wrapper-output">
                    <div class="wrapper-response">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati assumenda aliquam
                            perspiciatis similique asperiores, cupiditate reprehenderit dolores optio, quibusdam numquam
                            molestiae maxime sequi soluta laudantium! Id dignissimos dolores eos eveniet!

                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci fugiat sapiente sit,
                            facere dignissimos non repudiandae! Quasi placeat voluptatem a quis aut ullam labore,
                            distinctio eius blanditiis sequi vero repellendus?
                        </p>
                    </div>
                </div>
                <button class="btn-auth" (click)="onGoBack()">Download PDF</button>
            </div>
        </div>
    </div>
</div>