<div class="container">
    <div class="row" *ngIf="isLoading">
        <div class="col-md-12 col-loader">
            <mat-spinner class="spinner-loader" *ngIf="isLoading" [diameter]="100"></mat-spinner>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
            <h2>How was your experience?</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <!-- <div class="col-md-12">
            <p>How was your experience?</p>
        </div> -->

        <div class="col-md-12">
            <ul>
                <li (click)="onEmojiClicked( 'terrible' )">
                    <img src="/assets/icons/icon-angry.svg" alt="">
                    <p [ngClass]="{ 'txt-selected': emojiStatus.terrible }">Terrible</p>
                </li>
                <li (click)="onEmojiClicked( 'bad' )">
                    <img src="/assets/icons/icon-sad.svg" alt="">
                    <p [ngClass]="{ 'txt-selected': emojiStatus.bad }">Bad</p>
                </li>
                <li (click)="onEmojiClicked( 'okay' )">
                    <img src="/assets/icons/icon-confused.svg" alt="">
                    <p [ngClass]="{ 'txt-selected': emojiStatus.okay }">Okay</p>
                </li>
                <li (click)="onEmojiClicked( 'good' )">
                    <img src="/assets/icons/icon-happy.svg" alt="">
                    <p [ngClass]="{ 'txt-selected': emojiStatus.good }">Good</p>
                </li>
                <li (click)="onEmojiClicked( 'great' )">
                    <img src="/assets/icons/icon-hug.svg" alt="">
                    <p [ngClass]="{ 'txt-selected': emojiStatus.great }">Great</p>
                </li>
            </ul>
        </div>

        <div class="col-md-12">
            <textarea name="review" id="" cols="30" rows="5" placeholder="This product was amazing!"
                [ngClass]="{ 'invalid-input': !validation.review }" [(ngModel)]="review"></textarea>
        </div>

        <div class="col-md-12">
            <button (click)="onSubmit()">SUBMIT</button>
        </div>
    </div>
</div>

<!-- <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner> -->