<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sign up</h2>
            <p class="sub-title">Enter the details below to register an accoun</p>
        </div>
        <div class="col-md-12">
            <label>First name</label>
            <input type="text" placeholder="John">
        </div>
        <div class="col-md-12">
            <label>Last name</label>
            <input type="text" placeholder="Watson">
        </div>
        <div class="col-md-12">
            <label>Mobile</label>
            <input type="text" placeholder="+94775867889">
        </div>
        <div class="col-md-12">
            <label>Password</label>
            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        </div>
        <div class="col-md-12">
            <label>Password</label>
            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        </div>
        <div class="col-md-12">
            <button (click)="onLogin()">SIGN UP</button>
            <p class="text-login">Already have an account? <a (click)="onLogin()">Log in</a></p>
        </div>
    </div>
</div>