h2 {
    font-weight: 600;
    display: inline-block;
}

.btn-close {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
}

.btn-close:hover {
    float: right;
    font-size: 18px;
    position: relative;
    top: -10px;
    right: -15px;
    font-weight: 600;
    cursor: pointer;
    color: #2129fa;
}

.sub-title {
    margin-bottom: 40px;
}

label {
    display: block;
}

input, .mobile-input {
    width: 100%;
    border: 2px solid #2f86de;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button {
    background: #2129fa;
    border: 2px solid #2129fa;
    padding: 10px 40px;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 40px;
}

.text-login {
    text-align: center;
}

.text-login a {
    color: #2129fa;
    text-decoration: none;
}

.text-login a:hover {
    color: #226294;
    cursor: pointer;
}

.invalid-input {
    border: 2px solid red;
}

mat-spinner {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;
}

::ng-deep .spinner-simplify circle, .spinner-simplify circle {
    stroke: #fff;
}

.mobile-input input {
    width: 100% !important;
    border: 2px solid #2f86de !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    margin-bottom: 20px !important;
}

.col-pw {
    height: 100px;
}

.wrapper-password img {
    width: 30px;
    position: relative;
    top: -60px;
    float: right;
    right: 15px;
}

.wrapper-password img:hover {
    cursor: pointer;
}

.wrapper-tnc p {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 10px;
}

.wrapper-tnc p span {
    color: #2129fa;
    font-weight: 600;
}

.wrapper-tnc p span:hover {
    cursor: pointer;
}