<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Create your account</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <!-- <label>Email</label> -->
                <input type="text" placeholder="Your name" [ngClass]="{ 'invalid-input': !validation.name }"
                    [disabled]="isLoading" [(ngModel)]="credentials.name">
            </div>
            <div class="col-md-12">
                <!-- <label>Email</label> -->
                <input type="text" placeholder="Email" [ngClass]="{ 'invalid-input': !validation.email }"
                    [disabled]="isLoading" [(ngModel)]="credentials.email">
            </div>
            <div class="col-md-12">
                <!-- <label>Password</label> -->
                <input type="password" placeholder="Password" [ngClass]="{ 'invalid-input': !validation.password }"
                    [disabled]="isLoading" [(ngModel)]="credentials.password">
            </div>
            <div class="col-md-12">
                <button (click)="onLogin()" class="btn-login">
                    <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                    SIGN UP
                </button>
            </div>
            <div class="col-md-12">
                <p class="txt-or">or</p>
            </div>
            <div class="col-md-12">
                <button (click)="onGoogle()" class="btn-auth">
                    <img src="/assets/icons/icon-google.png" alt="">
                    Continue with Google
                </button>
                <!-- <button (click)="onFacebook()">
                    <img src="/assets/icons/icon-facebook.png" alt="">
                    Continue with Facebook
                </button> -->
                <!-- <button (click)="onOutlook()">
                    <img src="/assets/icons/icon-outlook.png" alt="">
                    Continue with Outlook
                </button> -->
            </div>
        </div>
    </div>
</div>