<div class="section">
    <div class="container-fluid">
        <div class="row row-body">
            <div class="col-md-3">
                <div class="wrapper-left-panel">
                    <h3 class="title">My extracts</h3>
                    <ul class="list-left-panel-menu">
                        <li [ngClass]=" { 'is-active': extractsClicked } " (click)="onExtracts()">Extracts</li>
                        <li [ngClass]=" { 'is-active': documentsClicked } " (click)="onDocuments()">Documents</li>
                        <li (click)="onBackToHome()">Back to home</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title" *ngIf="extractsClicked">Extracts</h3>
                        <h3 class="sub-title" *ngIf="documentsClicked">Documents</h3>
                        <div class="wrapper-profile-info">
                            <p>{{ me.firstName }} {{ me.lastName }}</p>
                            <img src="/assets/icons/icon-menu.svg" alt="Menu Icon" class="icon-profile" mat-button
                                [matMenuTriggerFor]="beforeMenu">
                            <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu">
                                <a mat-menu-item routerLink='/extracts'>My extracts</a>
                                <a mat-menu-item routerLink='/account'>Account</a>
                                <a mat-menu-item (click)="onLogout()">Log out</a>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" *ngIf="extractsClicked">
                            <thead>
                                <tr>
                                    <th>Extracts</th>
                                    <th>Date converted</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let extract of extracts" (click)="onViewExtract(extract._id)">
                                    <td class="title-conversion">
                                        <p>{{ extract.text }}</p>
                                    </td>
                                    <td>{{ extract.createdDate }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table" *ngIf="documentsClicked">
                            <thead>
                                <tr>
                                    <th>Conversion</th>
                                    <th>Created date</th>
                                    <th>Last updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let document of documents" (click)="onViewDocument(document._id)">
                                    <td class="title-conversion">{{ document.title }}</td>
                                    <td>{{ document.createdDate }}</td>
                                    <td>{{ moment.unix(document.updatedDate).format('DD-MM-YYYY') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>