<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Your simplified clause</h4>
                <div class="textarea-container">
                    <div class="wrapper-simiplified" *ngFor="let conversion of conversions">
                        <p class="input">{{ conversion.input }}</p>
                        <p class="output" *ngFor="let output of conversion.outputs" [innerHTML]="output"></p>
                    </div>
                    <button class="btn-feedback" (click)="onReview()">Feedback</button>
                    <button (click)="onSimplify()">Simplify</button>
                </div>
            </div>
        </div>
    </div>
</div>