<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Your simplified clause</h4>
                <div class="textarea-container">
                    <div class="wrapper-simiplified" *ngFor="let conversion of conversions">
                        <p class="sub-title">Original clause: </p>
                        <p class="input">{{ conversion.input }}</p>

                        <p class="sub-title">Simplified clause: </p>
                        <p class="sub-text">The following are the possible meanings of your clause. One or more may
                            apply</p>
                        <div class="output" *ngFor="let output of conversion.outputs">
                            <div class="wrapper">
                                <!-- <p class="txt-suggestion">Suggestion</p> -->
                                <p class="output" [innerHTML]="output"></p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-feedback" (click)="onReview()"
                        *ngIf="feedbackButtonVisible == true">FEEDBACK</button>
                    <button (click)="onGoBack()">GO BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>