<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper-hero">
                    <h1>Promoting <br>
                        fair negotiations <br>
                        through transparency.</h1>
                    <p>Know what you are singing up for. Translate complicated <br>
                        legal language to simple English so you can negotiate terms <br>
                        as equals. Try our AI tool today for free.</p>
                </div>
            </div>
        </div>
    </div>
</div>