<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-hero">
                    <h1>Reading Legal Docs Made Easy</h1>
                    <p>Trouble understanding legal documents? Leave it to our AI!</p>
                </div>
                <div class="wrapper-swiper">
                    <swiper [config]="config" [disabled]="disabled">
                        <div *ngFor="let slide of slides" class="swiper-slide" data-swiper-autoplay="10000">
                            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="slider">
                                <div class="wrapper-slider-text">
                                    <p class="title">What's written:</p>
                                    <p class="input">"{{ slide.input }}"</p>

                                    <p class="title">What it means:</p>
                                    <p class="output" *ngFor="let output of slide.outputs">
                                        <b>Suggestion :</b>
                                        {{ output }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</div>