<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Reset password</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <div class="col-md-12">
            <label>Email</label>
            <input type="text" placeholder="john@example.com" [disabled]="isLoading" [(ngModel)]="email">
        </div>
        <div class="col-md-12">
            <button (click)="onSendCode()">
                <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                SEND CODE
            </button>
            <p class="text-remember-password">Remember your password? <a (click)="onLogin()">Signin</a></p>
        </div>
    </div>
</div>