<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Reset password</h2>
            <span class="btn-close" (click)="onClose()">X</span>
            <p class="sub-title">Enter your email address</p>
        </div>
        <div class="col-md-12">
            <label>Email</label>
            <input type="text" placeholder="john@example.com">
        </div>
        <div class="col-md-12">
            <button (click)="onLogin()">SEND CODE</button>
            <p class="text-remember-password">Remember your password? <a (click)="onLogin()">Login</a></p>
        </div>
    </div>
</div>