<div class="section" *ngIf="editorEnabled">
    <div class="container">
        <div class="row">
            <div class="col-md-12" *ngIf="isEnterTextClicked">
                <h4 class="title">Enter your text here</h4>
                <p class="sub-title">Or click <a (click)="onUploadDocumentClick()">here to upload documents</a></p>
                <div class="textarea-container">
                    <!-- <textarea name="foo" rows="15" [disabled]="isLoading" [(ngModel)]="text">Your text...</textarea> -->
                    <div contenteditable="true" class="custom-textarea" [innerHTML]="text" #textarea></div>
                    <button (click)="onSimplify(textarea.innerText)">
                        <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                        Simplify
                    </button>
                </div>
            </div>
            <div class="col-md-12" *ngIf="isUploadDocumentClicked">
                <h4 class="title">Upload your documents</h4>
                <p class="sub-title">Or click <a (click)="onEnterTextClick()">here to enter your texts</a></p>
                <div class="wrapper-upload-files">
                    <button class="button-upload-image" type="button" (click)="filesButton.click()"
                        (change)="onUploadDocument($event)">Select
                        files</button>
                    <input hidden type="file" name="files" #filesButton>
                </div>
            </div>
        </div>
    </div>
</div>

<app-text-processed *ngIf="!editorEnabled" [conversions]="conversions"></app-text-processed>