.section {
    margin: 50px 0;
    padding: 50px 0;
    padding-bottom: 70px;
}

.title {
    text-align: center;
}

.sub-title {
    text-align: center;
}

.sub-title a {
    color:#2e86de;
    font-weight: 600;
    text-decoration: underline;
}

.sub-title a:hover {
    cursor: pointer;
}

h4 {
    text-align: center;
    text-transform: uppercase;
}

.textarea-container {
    position: relative;
}

.textarea-container textarea {
    width: 100%;
    height: 400px;
    margin: 30px 0 0 0;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgb(253 253 253 / 0%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    padding: 30px;
    box-sizing: border-box;
}

textarea:focus {
    outline: 0;
}
  
.textarea-container button {
    position: absolute;
    bottom: 20px;
    right: 18px;
}

button {
    background: #2e86de;
    border: 2px solid #2e86de;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
}

mat-spinner {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;
}

::ng-deep .spinner-simplify circle, .spinner-simplify circle {
    stroke: #fff;
}

.wrapper-upload-files {
    border: 2px solid #2e86de;
    border-style: dashed;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
}

.wrapper-file img {
    width: 40px;
}

.wrapper-file .name {
    display: inline-block;
    margin-left: 20px;
}

.link-close {
    margin-left: 20px;
    position: relative;
    top: 1px;
    font-weight: 600;
    color: #2e86de;
}

.link-close:hover {
    cursor: pointer;
    text-decoration: none;
}