<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Change password</h2>
            <span class="btn-close" (click)="onClose()">X</span>
        </div>
        <div class="col-md-12">
            <label>Old password</label>
            <input type="password" [ngClass]="{ 'invalid-input': !validation.password }" [disabled]="isLoading"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                [(ngModel)]="passwords.password">
        </div>
        <div class="col-md-12">
            <label>New password</label>
            <input type="password" [ngClass]="{ 'invalid-input': !validation.newPassword }" [disabled]="isLoading"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                [(ngModel)]="passwords.newPassword">
        </div>
        <div class="col-md-12">
            <label>Confirm password</label>
            <input type="password" [ngClass]="{ 'invalid-input': !validation.confirmPassword }" [disabled]="isLoading"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                [(ngModel)]="passwords.confirmPassword">
        </div>
        <div class="col-md-12">
            <button (click)="onChangePassword()">
                <mat-spinner class="spinner-simplify" *ngIf="isLoading" [diameter]="20"></mat-spinner>
                CHANGE PASSWORD
            </button>
        </div>
    </div>
</div>